<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>IP Info Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1>🔍 IP Info Dashboard</h1>
    <p class="subtitle">Подключение к поду внутри Kubernetes-кластера</p>

    <div class="info-card">
      <p><strong>📍 IP-адрес пода:</strong> {{ ip }}</p>
      <p><strong>🛠️ Версия:</strong> {{ version }}</p>
    </div>
  </div>

  <script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
</html>